$font-family: Cinzel, sans-serif;
$font-roboto: Roboto, sans-serif;
$main-color: #d12d35;
$hover-color: #ae1c23;
$pressed-color: #eb343d;
$transition: 0.3s ease;
$screen-medium: 744px;
$screen-large: 1200px;
$padding-sizes-medium: 50px 72px;
$padding-sizes-large: 50px 120px;
$padding-sizes-small: 25px 20px;
$icon-small-size: 24px;
$icon-medium-size: 32px;
$logo-height-small: 46px;
$logo-width-small: 64px;
$logo-height-medium: 65px;
$logo-width-medium: 87px;


