@import 'variables';

.contact {
  text-align: center;
  justify-content: center;
  padding: $padding-sizes-small;
  padding-bottom: 100px;
  justify-self: center;

  @media (min-width: $screen-medium) {
    padding: $padding-sizes-medium;
    padding-bottom: 150px;
  }

  @media (min-width: $screen-large) {
    padding: $padding-sizes-large;
    padding-bottom: 150px;
    min-width: $screen-large;
    max-width: 1260px;
  }

  h2 {
    margin-bottom: 48px;
  }

  &__content {
    display: grid;
    gap: 48px;

    @media (min-width: $screen-medium) {
      gap: 75px;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $screen-large) {
      gap: 111px;
      grid-template-columns: 2fr 1fr;
    }
  }

  &__items {
    text-align: start;
    display: grid;
    gap: 48px;

    @media (min-width: $screen-large) {
      grid-template-columns: 1fr 1fr;
    }

    h4 {
      margin-bottom: 16px;
    }

    p {
      margin: 8px 0;
    }

    a {
      font-weight: 700;
      color: $dark-link-color;

      &:hover {
        color: $hover-color;
      }
    }
  }

  &__form {
    input {
      margin-bottom: 16px;
    }

    textarea {
      margin-bottom: 32px;
      min-height: 144px;
    }

    button {
      width: 100%;
    }
  }
}

.footer {
  height: 180px;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $screen-medium) {
    height: 360px;
  }
}
