@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  padding: $padding-sizes-small;

  @media (min-width: $screen-medium) {
    padding: $padding-sizes-medium;
  }

  @media (min-width: $screen-large) {
    padding: $padding-sizes-large;
  }

  &__logo {
    width: $logo-width-small;
    height: $logo-height-small;

    @media (min-width: $screen-medium) {
      width: $logo-width-medium;
      height: $logo-height-medium;
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    gap: $icon-small-size;

    @media (min-width: $screen-medium) {
      gap: 55px;
    }
  }

  &__phoneInfo {
    position: absolute;
    top: -24px;
    right: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition:
      opacity $transition,
      transform $transition,
      visibility $transition;

    h5 {
      margin-bottom: 8px;
    }

    a {
      color: white;

      &:hover {
        color: $hover-color;
      }
    }
  }

  &__phone {
    position: relative;
    display: flex;
    gap: 16px;

    &:hover .header__phoneInfo {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__iconPhone {
    height: $icon-small-size;
    width: $icon-small-size;
    cursor: pointer;

    @media (min-width: $screen-medium) {
      height: $icon-medium-size;
      width: $icon-medium-size;
    }
  }

  &__iconMenu {
    height: $icon-small-size;
    width: $icon-small-size;
    transition: background $transition;
    background: url(../images/Icon-Burger-menu.png) center center / cover
      no-repeat;

    &:hover {
      background: url(../images/Icon-Burger-menu-hover.png) center center /
        cover no-repeat;
    }

    @media (min-width: $screen-medium) {
      height: $icon-medium-size;
      width: $icon-medium-size;
    }
  }
}

.home {
  background: url(../images/img_main.png) center center / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  height: 568px;
  color: white;

  @media (min-width: $screen-medium) {
    height: 840px;
  }

  .container {
    padding-top: 60px;
    text-align: center;

    @media (min-width: $screen-medium) {
      padding: $padding-sizes-medium;
    }

    @media (min-width: $screen-large) {
      padding: $padding-sizes-large;
    }
  }
}

.hours {
  padding: $padding-sizes-small;
  padding-top: 100px;

  @media (min-width: $screen-medium) {
    padding: $padding-sizes-medium;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  @media (min-width: $screen-large) {
    padding: $padding-sizes-large;
  }

  &__title {
    margin-bottom: 32px;

    h5 {
      color: $main-color;
    }
  }

  &__group {
    margin-bottom: 24px;

    h3 {
      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;

    h4, p {
      margin-bottom: 8px;
    }
  }
}
