@import 'https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap';
@import 'variables';

body {
  margin: 0;
  font-family: $font-family;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1 {
    font-size: 40px;

    @media (min-width: $screen-medium) {
      font-size: 64px;
    }

    @media (min-width: $screen-large) {
      font-size: 80px;
    }
  }

  h2 {
    font-size: 32px;

    @media (min-width: $screen-medium) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 24px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.page {
  &:has(.menu:target) {
    overflow: hidden; // desativa rolagem do body quando o menu abre
  }
}

.main {
  max-width: 1260px;
  justify-content: center;
  margin: 0 auto;
}

.btnSecondary {
  display: inline-block;
  background: transparent;
  color: white;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  transition: all $transition;

  &:hover {
    color: white;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
  }
}
