@import 'variables';

.view {
  padding: $padding-sizes-small;

  @media (min-width: $screen-medium) {
    padding: $padding-sizes-medium;
  }

  @media (min-width: $screen-large) {
    padding: $padding-sizes-large;
  }

  &__title {
    text-align: center;
    display: grid;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 48px;

    h4 {
      color: $main-color;
    }

    .view__images {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
      gap: 20px;
      justify-items: center;
      margin-bottom: 24px;

      // evita overflow horizontal
      width: 100%;
      box-sizing: border-box;

      .view__image {
      max-width: 100%;
      aspect-ratio: 1 / 1; // mantém sempre quadrado
      object-fit: cover;
      display: block;
      transition: transform $transition;
      align-self: stretch; // garante preenchimento vertical total

       /* estilo para imagens “duplas” */
      &.view__image--double {
        @media (min-width: $screen-medium) {
          aspect-ratio: 2 / 1;
          width: 100%;
          height: auto;
          object-fit: cover;
          grid-column: span 2;
        }
      }

      &:hover {
        transform: scale(1.1);
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}
